USE [proyectoasistencia]
GO
/****** Object:  Table [dbo].[ADMINMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINMANAGEMENT](
	[idAdmin] [uniqueidentifier] NOT NULL,
	[phoneNumber] [nchar](30) NULL,
 CONSTRAINT [PK_AdminManagement] PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMINPARAMETERMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINPARAMETERMANAGEMENT](
	[adminId] [uniqueidentifier] NOT NULL,
	[parameterId] [uniqueidentifier] NOT NULL,
	[modifiedDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCERECORDMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCERECORDMANAGEMENT](
	[idRecord] [uniqueidentifier] NOT NULL,
	[idSession] [uniqueidentifier] NOT NULL,
	[idStudent] [uniqueidentifier] NOT NULL,
	[idDevice] [uniqueidentifier] NOT NULL,
	[captureTimestamp] [datetime2](7) NOT NULL,
	[captureMethod] [nvarchar](100) NOT NULL,
	[attendanceStatus] [nvarchar](50) NOT NULL,
	[recordHash] [nvarchar](512) NOT NULL,
	[isValidated] [bit] NOT NULL,
 CONSTRAINT [PK_AttendanceRecord] PRIMARY KEY CLUSTERED 
(
	[idRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSSESSIONMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSSESSIONMANAGEMENT](
	[idSession] [uniqueidentifier] NOT NULL,
	[idGroup] [uniqueidentifier] NOT NULL,
	[startTime] [datetime2](7) NOT NULL,
	[endTime] [datetime2](7) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ClassSession] PRIMARY KEY CLUSTERED 
(
	[idSession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVICEMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICEMANAGEMENT](
	[idDevice] [uniqueidentifier] NOT NULL,
	[deviceType] [nvarchar](100) NOT NULL,
	[identifier] [nvarchar](200) NOT NULL,
	[location] [nvarchar](200) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_DeviceManagement] PRIMARY KEY CLUSTERED 
(
	[idDevice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUPMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPMANAGEMENT](
	[idGroup] [uniqueidentifier] NOT NULL,
	[idSubject] [uniqueidentifier] NOT NULL,
	[idTeacher] [uniqueidentifier] NOT NULL,
	[groupName] [nvarchar](100) NOT NULL,
	[classroom] [nvarchar](100) NULL,
	[semester] [nvarchar](20) NULL,
	[isActive] [bit] NOT NULL,
	[GroupCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_GroupManagement] PRIMARY KEY CLUSTERED 
(
	[idGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUPSCHEDULEMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPSCHEDULEMANAGEMENT](
	[idGroupSchedule] [uniqueidentifier] NOT NULL,
	[idGroup] [uniqueidentifier] NOT NULL,
	[dayOfWeek] [int] NOT NULL,
	[startTime] [time](7) NOT NULL,
	[endTime] [time](7) NOT NULL,
 CONSTRAINT [PK_GroupSchedule] PRIMARY KEY CLUSTERED 
(
	[idGroupSchedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETERMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETERMANAGEMENT](
	[idParameter] [uniqueidentifier] NOT NULL,
	[parameterKey] [nvarchar](100) NOT NULL,
	[parameterValue] [nvarchar](500) NOT NULL,
	[description] [nvarchar](500) NULL,
	[version] [int] NOT NULL,
	[lastModifiedBy] [uniqueidentifier] NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_ParameterManagement] PRIMARY KEY CLUSTERED 
(
	[idParameter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESSORMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORMANAGEMENT](
	[idTeacher] [uniqueidentifier] NOT NULL,
	[professorIdCard] [nvarchar](100) NOT NULL,
	[phoneNumber] [nvarchar](30) NULL,
	[department] [nvarchar](150) NULL,
 CONSTRAINT [PK_ProfessorManagement] PRIMARY KEY CLUSTERED 
(
	[idTeacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLEMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLEMANAGEMENT](
	[idRol] [uniqueidentifier] NOT NULL,
	[nombreRol] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
 CONSTRAINT [PK_RoleManagement] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUTEMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUTEMANAGEMENT](
	[idRoute] [uniqueidentifier] NOT NULL,
	[routeName] [varchar](255) NULL,
 CONSTRAINT [PK_RouteManagement] PRIMARY KEY CLUSTERED 
(
	[idRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUTEROLEMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUTEROLEMANAGEMENT](
	[routeId] [uniqueidentifier] NOT NULL,
	[roleId] [uniqueidentifier] NOT NULL,
	[canView] [bit] NULL,
	[canEdit] [bit] NULL,
	[canDelete] [bit] NULL,
	[canCreate] [bit] NULL,
 CONSTRAINT [PK_RouteRoleManagement] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC,
	[routeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTGROUPMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTGROUPMANAGEMENT](
	[idStudent] [uniqueidentifier] NOT NULL,
	[idGroup] [uniqueidentifier] NOT NULL,
	[enrollmentDate] [datetime2](7) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_StudentGroup] PRIMARY KEY CLUSTERED 
(
	[idStudent] ASC,
	[idGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTMANAGEMENT](
	[idStudent] [uniqueidentifier] NOT NULL,
	[studentIdCard] [nvarchar](100) NOT NULL,
	[currentSemester] [int] NOT NULL,
	[phoneNumber] [nvarchar](30) NULL,
 CONSTRAINT [PK_StudentManagement] PRIMARY KEY CLUSTERED 
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTMANAGEMENT](
	[idSubject] [uniqueidentifier] NOT NULL,
	[subjectCode] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_SubjectManagement] PRIMARY KEY CLUSTERED 
(
	[idSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERMANAGEMENT]    Script Date: 14/08/2026 9:33:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERMANAGEMENT](
	[idUser] [uniqueidentifier] NOT NULL,
	[idRol] [uniqueidentifier] NULL,
	[userName] [nvarchar](100) NOT NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[lastName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[passwordHash] [nvarchar](512) NOT NULL,
	[isActive] [bit] NOT NULL,
	[registerDate] [datetime2](7) NOT NULL,
	[accountRenewalDate] [datetime2](7) NULL,
	[isEmailConfirmed] [bit] NULL,
 CONSTRAINT [PK_UserManagement] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADMINMANAGEMENT] ([idAdmin], [phoneNumber]) VALUES (N'953fa446-6f76-4d56-9f2a-1b33b54718e2', N'3000000000                    ')
GO
INSERT [dbo].[PROFESSORMANAGEMENT] ([idTeacher], [professorIdCard], [phoneNumber], [department]) VALUES (N'45f9078c-8cf3-44a3-8df8-1b958493f794', N'423123', N'3228179317', N'Sistemas e Informática')
INSERT [dbo].[PROFESSORMANAGEMENT] ([idTeacher], [professorIdCard], [phoneNumber], [department]) VALUES (N'3e4b1c9b-17f9-4161-bece-30cec13b102e', N'45523412', N'3228179317', N'Sistemas e Informática')
INSERT [dbo].[PROFESSORMANAGEMENT] ([idTeacher], [professorIdCard], [phoneNumber], [department]) VALUES (N'44afc218-0d25-421e-bacd-3b3b5af906c9', N'45523412', N'3228179317', N'Sistemas e Informática')
GO
INSERT [dbo].[ROLEMANAGEMENT] ([idRol], [nombreRol], [descripcion]) VALUES (N'd1f198c8-9cb1-405c-b68e-9e0baa580cbe', N'Student', N'Rol para Estudiante')
INSERT [dbo].[ROLEMANAGEMENT] ([idRol], [nombreRol], [descripcion]) VALUES (N'5dc180a8-e685-4593-a49e-b1985831ba69', N'Professor', N'Docente del ITM')
INSERT [dbo].[ROLEMANAGEMENT] ([idRol], [nombreRol], [descripcion]) VALUES (N'45a2dfeb-ba12-4e98-984e-d9022a88730b', N'Administrator', N'Administrador del sistema')
GO
INSERT [dbo].[ROUTEMANAGEMENT] ([idRoute], [routeName]) VALUES (N'26f8f79f-7506-4c6c-a84d-07dced35f74b', N'/Account/LoginAdmin')
INSERT [dbo].[ROUTEMANAGEMENT] ([idRoute], [routeName]) VALUES (N'0f6efbcd-58a7-41c3-ba43-144cbf3ab354', N'/Account/RegisterProfessor')
INSERT [dbo].[ROUTEMANAGEMENT] ([idRoute], [routeName]) VALUES (N'ad851b41-1f8b-46d7-bb96-2d25799dba90', N'/Notifications/Index')
GO
INSERT [dbo].[ROUTEROLEMANAGEMENT] ([routeId], [roleId], [canView], [canEdit], [canDelete], [canCreate]) VALUES (N'26f8f79f-7506-4c6c-a84d-07dced35f74b', N'd1f198c8-9cb1-405c-b68e-9e0baa580cbe', 1, 1, 0, 1)
INSERT [dbo].[ROUTEROLEMANAGEMENT] ([routeId], [roleId], [canView], [canEdit], [canDelete], [canCreate]) VALUES (N'0f6efbcd-58a7-41c3-ba43-144cbf3ab354', N'd1f198c8-9cb1-405c-b68e-9e0baa580cbe', 0, 0, 0, 0)
INSERT [dbo].[ROUTEROLEMANAGEMENT] ([routeId], [roleId], [canView], [canEdit], [canDelete], [canCreate]) VALUES (N'ad851b41-1f8b-46d7-bb96-2d25799dba90', N'd1f198c8-9cb1-405c-b68e-9e0baa580cbe', 1, 0, 0, 0)
GO
INSERT [dbo].[STUDENTMANAGEMENT] ([idStudent], [studentIdCard], [currentSemester], [phoneNumber]) VALUES (N'e9f0fa5d-1d7e-4450-899b-23eeea96d9cf', N'123123', 8, N'3228179317')
INSERT [dbo].[STUDENTMANAGEMENT] ([idStudent], [studentIdCard], [currentSemester], [phoneNumber]) VALUES (N'fc247e12-a315-44ac-9eaa-74ff05e9487d', N'123123', 6, N'3001877564')
GO
INSERT [dbo].[USERMANAGEMENT] ([idUser], [idRol], [userName], [firstName], [lastName], [email], [passwordHash], [isActive], [registerDate], [accountRenewalDate], [isEmailConfirmed]) VALUES (N'953fa446-6f76-4d56-9f2a-1b33b54718e2', N'45a2dfeb-ba12-4e98-984e-d9022a88730b', N'admin.itm', N'Admin', N'Sistema', N'AdminMan1@correo.itm.edu.co', N'$2a$11$dfgf.7TNXQnW9pBa1fmYtulEKU6dB3NzCrxy0Ch3ziZ.MdtokrDL2', 1, CAST(N'2026-08-03T04:43:05.9666667' AS DateTime2), CAST(N'2027-02-03T04:43:05.9666667' AS DateTime2), 1)
INSERT [dbo].[USERMANAGEMENT] ([idUser], [idRol], [userName], [firstName], [lastName], [email], [passwordHash], [isActive], [registerDate], [accountRenewalDate], [isEmailConfirmed]) VALUES (N'45f9078c-8cf3-44a3-8df8-1b958493f794', N'5dc180a8-e685-4593-a49e-b1985831ba69', N'alexandraguerrero', N'Alexandra', N'Guerrero', N'alexandraguerrero@itm.edu.co', N'$2a$11$ed6xJUB9bjpwP4PXPWpPR.54Ma0tBB0rjc.3/4RKfHxS8d5Rn7tzi', 1, CAST(N'2026-08-01T16:33:44.6671660' AS DateTime2), CAST(N'2027-02-01T16:33:44.6672134' AS DateTime2), 1)
INSERT [dbo].[USERMANAGEMENT] ([idUser], [idRol], [userName], [firstName], [lastName], [email], [passwordHash], [isActive], [registerDate], [accountRenewalDate], [isEmailConfirmed]) VALUES (N'e9f0fa5d-1d7e-4450-899b-23eeea96d9cf', N'd1f198c8-9cb1-405c-b68e-9e0baa580cbe', N'samuelquintero1119744', N'Samuel', N'Quintero', N'samuelquintero1119744@correo.itm.edu.co', N'$2a$11$HGvquU5P7YO/oFLPlQEKyuMYGdwqetySpkVorTXjYAN4Xs7Notu5i', 1, CAST(N'2026-07-25T05:40:39.7875347' AS DateTime2), CAST(N'2027-01-25T05:40:39.7876030' AS DateTime2), 1)
GO
/****** Object:  Index [UQ_Attendance_Once]    Script Date: 14/08/2026 9:33:34 p. m. ******/
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT] ADD  CONSTRAINT [UQ_Attendance_Once] UNIQUE NONCLUSTERED 
(
	[idSession] ASC,
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Device_Identifier]    Script Date: 14/08/2026 9:33:34 p. m. ******/
ALTER TABLE [dbo].[DEVICEMANAGEMENT] ADD  CONSTRAINT [UQ_Device_Identifier] UNIQUE NONCLUSTERED 
(
	[identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GroupSchedule_Group_Dia]    Script Date: 14/08/2026 9:33:34 p. m. ******/
ALTER TABLE [dbo].[GROUPSCHEDULEMANAGEMENT] ADD  CONSTRAINT [UQ_GroupSchedule_Group_Dia] UNIQUE NONCLUSTERED 
(
	[idGroup] ASC,
	[dayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Parameter_Key]    Script Date: 14/08/2026 9:33:34 p. m. ******/
ALTER TABLE [dbo].[PARAMETERMANAGEMENT] ADD  CONSTRAINT [UQ_Parameter_Key] UNIQUE NONCLUSTERED 
(
	[parameterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RoleManagement_Nombre]    Script Date: 14/08/2026 9:33:34 p. m. ******/
ALTER TABLE [dbo].[ROLEMANAGEMENT] ADD  CONSTRAINT [UQ_RoleManagement_Nombre] UNIQUE NONCLUSTERED 
(
	[nombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Subject_Code]    Script Date: 14/08/2026 9:33:34 p. m. ******/
ALTER TABLE [dbo].[SUBJECTMANAGEMENT] ADD  CONSTRAINT [UQ_Subject_Code] UNIQUE NONCLUSTERED 
(
	[subjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Email]    Script Date: 14/08/2026 9:33:34 p. m. ******/
ALTER TABLE [dbo].[USERMANAGEMENT] ADD  CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMINPARAMETERMANAGEMENT] ADD  DEFAULT (newid()) FOR [adminId]
GO
ALTER TABLE [dbo].[ADMINPARAMETERMANAGEMENT] ADD  DEFAULT (newid()) FOR [parameterId]
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT] ADD  DEFAULT (newid()) FOR [idRecord]
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT] ADD  DEFAULT (getutcdate()) FOR [captureTimestamp]
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT] ADD  DEFAULT ((0)) FOR [isValidated]
GO
ALTER TABLE [dbo].[CLASSSESSIONMANAGEMENT] ADD  DEFAULT (newid()) FOR [idSession]
GO
ALTER TABLE [dbo].[CLASSSESSIONMANAGEMENT] ADD  DEFAULT ('SCHEDULED') FOR [status]
GO
ALTER TABLE [dbo].[DEVICEMANAGEMENT] ADD  DEFAULT (newid()) FOR [idDevice]
GO
ALTER TABLE [dbo].[DEVICEMANAGEMENT] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[GROUPMANAGEMENT] ADD  DEFAULT (newid()) FOR [idGroup]
GO
ALTER TABLE [dbo].[GROUPMANAGEMENT] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[GROUPSCHEDULEMANAGEMENT] ADD  CONSTRAINT [DF_GroupSchedule_Id]  DEFAULT (newid()) FOR [idGroupSchedule]
GO
ALTER TABLE [dbo].[PARAMETERMANAGEMENT] ADD  DEFAULT (newid()) FOR [idParameter]
GO
ALTER TABLE [dbo].[PARAMETERMANAGEMENT] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[PARAMETERMANAGEMENT] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[ROLEMANAGEMENT] ADD  DEFAULT (newid()) FOR [idRol]
GO
ALTER TABLE [dbo].[ROUTEMANAGEMENT] ADD  DEFAULT (newid()) FOR [idRoute]
GO
ALTER TABLE [dbo].[STUDENTGROUPMANAGEMENT] ADD  DEFAULT (getutcdate()) FOR [enrollmentDate]
GO
ALTER TABLE [dbo].[STUDENTGROUPMANAGEMENT] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[SUBJECTMANAGEMENT] ADD  DEFAULT (newid()) FOR [idSubject]
GO
ALTER TABLE [dbo].[SUBJECTMANAGEMENT] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[USERMANAGEMENT] ADD  DEFAULT (newid()) FOR [idUser]
GO
ALTER TABLE [dbo].[USERMANAGEMENT] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[USERMANAGEMENT] ADD  DEFAULT (getutcdate()) FOR [registerDate]
GO
ALTER TABLE [dbo].[ADMINMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([idAdmin])
REFERENCES [dbo].[USERMANAGEMENT] ([idUser])
GO
ALTER TABLE [dbo].[ADMINMANAGEMENT] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[ADMINPARAMETERMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ADMINPARAMETER_ADMIN] FOREIGN KEY([adminId])
REFERENCES [dbo].[ADMINMANAGEMENT] ([idAdmin])
GO
ALTER TABLE [dbo].[ADMINPARAMETERMANAGEMENT] CHECK CONSTRAINT [FK_ADMINPARAMETER_ADMIN]
GO
ALTER TABLE [dbo].[ADMINPARAMETERMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ADMINPARAMETER_PARAMETER] FOREIGN KEY([parameterId])
REFERENCES [dbo].[PARAMETERMANAGEMENT] ([idParameter])
GO
ALTER TABLE [dbo].[ADMINPARAMETERMANAGEMENT] CHECK CONSTRAINT [FK_ADMINPARAMETER_PARAMETER]
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Device] FOREIGN KEY([idDevice])
REFERENCES [dbo].[DEVICEMANAGEMENT] ([idDevice])
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT] CHECK CONSTRAINT [FK_Attendance_Device]
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Session] FOREIGN KEY([idSession])
REFERENCES [dbo].[CLASSSESSIONMANAGEMENT] ([idSession])
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT] CHECK CONSTRAINT [FK_Attendance_Session]
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([idStudent])
REFERENCES [dbo].[STUDENTMANAGEMENT] ([idStudent])
GO
ALTER TABLE [dbo].[ATTENDANCERECORDMANAGEMENT] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[CLASSSESSIONMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Session_Group] FOREIGN KEY([idGroup])
REFERENCES [dbo].[GROUPMANAGEMENT] ([idGroup])
GO
ALTER TABLE [dbo].[CLASSSESSIONMANAGEMENT] CHECK CONSTRAINT [FK_Session_Group]
GO
ALTER TABLE [dbo].[GROUPMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Group_Professor] FOREIGN KEY([idTeacher])
REFERENCES [dbo].[PROFESSORMANAGEMENT] ([idTeacher])
GO
ALTER TABLE [dbo].[GROUPMANAGEMENT] CHECK CONSTRAINT [FK_Group_Professor]
GO
ALTER TABLE [dbo].[GROUPMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Group_Subject] FOREIGN KEY([idSubject])
REFERENCES [dbo].[SUBJECTMANAGEMENT] ([idSubject])
GO
ALTER TABLE [dbo].[GROUPMANAGEMENT] CHECK CONSTRAINT [FK_Group_Subject]
GO
ALTER TABLE [dbo].[GROUPSCHEDULEMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_GroupSchedule_Group] FOREIGN KEY([idGroup])
REFERENCES [dbo].[GROUPMANAGEMENT] ([idGroup])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUPSCHEDULEMANAGEMENT] CHECK CONSTRAINT [FK_GroupSchedule_Group]
GO
ALTER TABLE [dbo].[PROFESSORMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Professor_User] FOREIGN KEY([idTeacher])
REFERENCES [dbo].[USERMANAGEMENT] ([idUser])
GO
ALTER TABLE [dbo].[PROFESSORMANAGEMENT] CHECK CONSTRAINT [FK_Professor_User]
GO
ALTER TABLE [dbo].[ROUTEROLEMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_RouteRoleManagement_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[ROLEMANAGEMENT] ([idRol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROUTEROLEMANAGEMENT] CHECK CONSTRAINT [FK_RouteRoleManagement_Role]
GO
ALTER TABLE [dbo].[ROUTEROLEMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_RouteRoleManagement_Route] FOREIGN KEY([routeId])
REFERENCES [dbo].[ROUTEMANAGEMENT] ([idRoute])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROUTEROLEMANAGEMENT] CHECK CONSTRAINT [FK_RouteRoleManagement_Route]
GO
ALTER TABLE [dbo].[STUDENTGROUPMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_StudentGroup_Group] FOREIGN KEY([idGroup])
REFERENCES [dbo].[GROUPMANAGEMENT] ([idGroup])
GO
ALTER TABLE [dbo].[STUDENTGROUPMANAGEMENT] CHECK CONSTRAINT [FK_StudentGroup_Group]
GO
ALTER TABLE [dbo].[STUDENTGROUPMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_StudentGroup_Student] FOREIGN KEY([idStudent])
REFERENCES [dbo].[STUDENTMANAGEMENT] ([idStudent])
GO
ALTER TABLE [dbo].[STUDENTGROUPMANAGEMENT] CHECK CONSTRAINT [FK_StudentGroup_Student]
GO
ALTER TABLE [dbo].[STUDENTMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([idStudent])
REFERENCES [dbo].[USERMANAGEMENT] ([idUser])
GO
ALTER TABLE [dbo].[STUDENTMANAGEMENT] CHECK CONSTRAINT [FK_Student_User]
GO
ALTER TABLE [dbo].[USERMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([idRol])
REFERENCES [dbo].[ROLEMANAGEMENT] ([idRol])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[USERMANAGEMENT] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[CLASSSESSIONMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [CK_Session_Times] CHECK  (([endTime]>[startTime]))
GO
ALTER TABLE [dbo].[CLASSSESSIONMANAGEMENT] CHECK CONSTRAINT [CK_Session_Times]
GO
ALTER TABLE [dbo].[GROUPSCHEDULEMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [CK_GroupSchedule_DiaValido] CHECK  (([dayOfWeek]>=(0) AND [dayOfWeek]<=(6)))
GO
ALTER TABLE [dbo].[GROUPSCHEDULEMANAGEMENT] CHECK CONSTRAINT [CK_GroupSchedule_DiaValido]
GO
ALTER TABLE [dbo].[GROUPSCHEDULEMANAGEMENT]  WITH CHECK ADD  CONSTRAINT [CK_GroupSchedule_Horas] CHECK  (([endTime]>[startTime]))
GO
ALTER TABLE [dbo].[GROUPSCHEDULEMANAGEMENT] CHECK CONSTRAINT [CK_GroupSchedule_Horas]
GO
